*{
  box-sizing: border-box;

}

body {
    background: url(./img/9.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
    font-family: Arial, sans-serif;
    background-color: beige;
    color: cream;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

h2{
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px; 
}

.infoCoG {
  text-align: right;
}

.infoCoD {
  text-align: left;
  font-weight: 800 ;
}

div .btn {
  text-align: center;
}

table {
  margin: 0 auto;
}

#livre {
  font-size: 16px;
  padding: 5px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

footer {
  text-align: center;
  padding: 20px;

  width: 100%;
}

a {
  transition: all 250ms ease;
  color: black;
  text-decoration: none;
}

#test::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #0366d6;
    transition: width 0.4s;
}

#test:hover::after {
    width: 100%;
    transition:  left to right 0.6s;
    transition: all 1s cubic-bezier(0.5, -3, 0.5, 2);
    transform: scaleX(1.1);
    transform-origin: left top ;
}


#deco{
  display: block;
}

#deco:hover {
  color: red;
  transform: scale(0.8);
}

#livre {
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0);
} 

#livre:hover{
  border-color: #0366d6;
  border-radius: 5px;
}

select option:hover {
  background-color: lightgray;
}

 ::selection {
    background-color: gray;
}

fieldset {
    background-color: rgba(0, 0, 0, 0.386);
    border-radius: 5px;
    border: 2px solid black;

}

legend {
    color: #000000;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 5px;
}

input[type="submit"]{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border: none;
    font-weight: bold;
}


input[type="submit"]:hover {
    background-color: #0366d6;
    color: beige;
}

label {
    color: beige;
}

.key, .value {
  background-color: rgba(255, 252, 252, 0.349);
  font-weight: bold;
}

table {
  margin-top: 10px;
}

table.styleTab {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
}

.styleTab td,
.styleTab th {
  border: 1px solid #ddd;
  padding: 8px;
}

body.dark .styleTab tr:nth-child(even) {
  background-color: rgb(141, 141, 141);
}

.styleTab tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styleTab tr:hover {
  background-color: #ddd;
}

.styleTab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

i {
  padding: 5px;
}

/* *Responsive */
@media only screen and (max-width: 500px) {
  #Responsive {
    width: 100%;
  }
  .styleTab td,
  .styleTab th {
    display: block;
    width: 100%;
    text-align: center;
  }
  
}

@media only screen and (max-width: 820px) {
  .styleTab td,
  .styleTab th {
    display: block;
    width: 100%;
    text-align: center;
  }

  .styleTab th {
    display: none;
  }
}

@media only screen and (min-width: 820px) and (max-width: 1050px) {
  table.styleTab {
    margin: 0 auto;
  }
}

/* Pour les forms  */
form {
  width: 50%;
  margin: 0 auto;
  min-width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
}

input[type="text"], input[type="submit"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

input[type="text"]:hover, input[type="submit"]:hover {
  box-shadow: 0 0 10px lightgray;
  cursor: pointer;
}

input[type="submit"] {
  background-color: lightgray;
  color: white;
  width: 120px;
}

#legend {
  font-size: 20px;
}

footer {
  clear: both;

}

img{
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/* * Css pour le slide d'image en page d'acceuil */
#slideshow {
  width: 640px;
  height: 370px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2.5%;
}

#slideshow img {
  width: 100%;
  height: 100%;
  display: none;
}

#slideshow img.active {
  display: block;
}

select {
  height: 35px;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

select:hover {
  cursor: pointer;
  border-color: #0366d6;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centrer le formulaire horizontalement */

#formAdd {
  margin: 0 auto;
}

fieldset {
display: flex;
flex-direction: column;
gap: 10px;
width: 80%;
text-align: center;
align-items: center;
}

input[type="text"] {
  width: 100%;
max-width: 300px;
}

label,
input[type="submit"] {
display: block;
  margin: 0 auto;
text-align: left;
}

#submit {
background-color: #008CBA;
color: #fff;
border: none;
padding: 10px;
border-radius: 5px;
text-align: center;
}

sup {
color: red;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #0366d6;
border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(125, 125, 125);
}

/* Zoom image slide */
.zoom {
  transition: transform .2s;
  max-width: 100%;
  height: auto;
  }
  
.zoom:hover {
  transform: scale(1.2);
}

#timer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: rgba(0, 0, 0, 0.782);
}
#timer:hover {
  color: #0366d6;
}

body.dark #timer {
  color: white;
}

.backdisplay {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  background-color: #000000;
  border-radius: 50%;
  color: rgb(253, 140, 140) ;
}

body.dark .backdisplay {
  background-color: white;
  color: rgb(130, 57, 57) ;
}