
        body {
            background: url(./img/9.jpg);
            font-family: Arial, Helvetica, sans-serif;
        }

        h1,
        .btn,
        form {
            display: grid;
            justify-content: center;
        }

        form {
            font-size: large;
        }

        input {
            width: 450px;
            height: 20px;
            margin: 5px;
            border-radius: 5px;
        }

        #submit {
            width: 100px;
        }

        fieldset {
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
        }

        h2 {
            background-color: grey;
            color: white;
            text-decoration: underline;
            padding-left: 10px;
            font-style: italic;
        }

        select,
        a,
        .btn {
            text-decoration: none;
            border: none;
            color: rgb(0, 102, 255);
            font-size: 15px;
            font-weight: bold;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 45%;
        }

        .styleTab {
            border-radius: 5px;
            border-color: black;
            margin-top: 2%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        legend {
            font-size: 20px;
            font-style: italic;
        }

        td {
            padding: 5px;
        }
