/* Styles pour le formulaire */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  fieldset {
    border: none;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="submit"] {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Styles pour le résultat de la recherche */
  #result {
    display: none;
    margin-top: 20px;
  }
  
  #result table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
  }
  
  #result td,
  #result th {
    border: 2px solid #000000;
    padding: 8px;
    background-color: #8a8a8a99;
    transition: background-color 0.2s ease-in-out;
   
  }
  
  #result th {
    text-align: left;
    background-color: #8a8a8a95;
  }
  
  #result img {
    max-width: 200px;
  }
  
  /* Afficher le résultat de la recherche uniquement lorsque la div est non vide */
  #result:not(:empty) {
    display: block;
  }
  
  
  #result td:hover{
    background-color: #222222e3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}


#result th:hover{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    outline: none;
  }

