body {
    background: url(./Css/img/9.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
  }
  body {
    font-family: Arial, sans-serif;
    background-color: beige;
    color: cream;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }

  h2{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 5px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .infoCoG {
    text-align: right;
  }
  
  .infoCoD {
    text-align: left;
    font-weight: 800 ;
  }
  
  .btn {
    margin: 50px auto;
    text-align: center;
  }
  
  table {
    margin: 0 auto;
  }
  
  #livre {
    font-size: 16px;
    padding: 5px;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  a {
    transition: all 0.5s ease;
    color: black;
    text-decoration: none;
  }
  #test {
    font-size: 16px;
  }
  #test:hover {
    font-size: 24px;
    text-decoration: underline;
  }
  #deco:hover {
    color: red;
    font-size: 20px;
  }
  #livre {
    color: black;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }        

  #livre:hover{
    border: 2px solid #0366d6;
    border-radius: 5px;
  }
  select option:hover {
    background-color: lightgray;
  }

 ::selection {
    background-color: gray;
}
fieldset {
    background-color: rgba(0, 0, 0, 0.386);
    border-radius: 5px;
    border: 2px solid black;
}
legend {
    color: #000000;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.256);
    border-radius: 5px;
}

input[type="submit"]{
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
     border: none;
     font-weight: bold;
}


input[type="submit"]:hover {
    background-color: #0366d6;
    color: beige;
}

label {
    color: beige;
}

.key, .value {
  background-color: rgba(255, 252, 252, 0.349);
  font-weight: bold;
}

table {
  margin-top: 10px;
}
table.styleTab {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

.styleTab td,
.styleTab th {
  border: 1px solid #ddd;
  padding: 8px;
}

.styleTab tr:nth-child(even) {
  background-color: #f2f2f2;
}

.styleTab tr:hover {
  background-color: #ddd;
}

.styleTab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

@media only screen and (max-width: 820px) {
  .styleTab td,
  .styleTab th {
    display: block;
    width: 100%;
    text-align: left;
  }

  .styleTab th {
    display: none;
  }
}

@media only screen and (min-width: 820px) and (max-width: 1050px) {
  table.styleTab {
    margin: 0 auto;
  }
}